 <section class="pt-20 lg:mb-40 bg-indigo-400">
        <div class="relative container px-4 pb-32 mx-auto">
          <div class="max-w-3xl mx-auto text-center mb-12 lg:mb-20">
            <h2 class="mb-4 text-4xl lg:text-5xl text-white font-bold font-heading">{{title}}</h2>
            <p class="mb-6 text-lg text-gray-50">{{description}}</p>
            <a class="inline-block w-full sm:w-auto px-6 py-2 text-sm text-white font-bold leading-loose bg-gray-600 hover:bg-gray-700 rounded transition duration-200" href="{{button_link}}" target="{{button_target}}">{{button_text}}</a>
          </div>
          <div class="-mb-8 lg:-mb-64">
            <div class="flex flex-wrap -mx-4 -mb-8">
             
              

{{highlights}}
<div class="w-full lg:w-1/3 px-4 mb-8">
                <div class="bg-gray-50 text-center p-6 rounded">
                  <span>
                    <svg class="w-12 h-12 mx-auto mb-3" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="24" cy="24" r="23.5" stroke="#C2C9D2"/>
  <path d="M32 15H16C15.4477 15 15 15.4477 15 16V32C15 32.5523 15.4477 33 16 33H32C32.5523 33 33 32.5523 33 32V16C33 15.4477 32.5523 15 32 15ZM31 31H17V17H31V31ZM21 21L18.5 23.5L17.5 22.5L16 24L18.5 26.5L23 22L21 21ZM25 27H30V29H25V27Z" fill="#67798E"/>
</svg>

                  </span>
                  <h3 class="mb-3 text-2xl font-bold font-heading">{{title}}</h3>
                  <p class="text-lg text-gray-400 leading-loose">{{description}}</p>
                </div>
              </div>
{{/highlights}}

            </div>
          </div>
        </div>
      </section>