 <section class="py-20">
        <div class="container px-4 mx-auto">
          <h2 class="mb-6 text-center text-2xl text-gray-300">{{title}}</h2>
          <div class="flex flex-wrap -m-4">
            {{logos}}
            <div class="w-full md:w-1/2 lg:w-1/4 p-4">
              <div class="bg-gray-50 rounded-lg py-12">
                <img class="h-8 mx-auto" src="{{url}}" alt="{{url.alt}}">
              </div>
            </div>
             {{/logos}}
            
          </div>
        </div>
      </section>